<!-- <p>trend-chart works!</p> -->

<button id="openTrendChart" [hidden]="true" type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Launch Modal</button>

<!-- Central Modal Small -->
<div class="trendChart" mdbModal #frame="mdbModal" class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal, default is medium size, .modal-lg is large -->
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title w-100" id="myModalLabel"><strong>Trend Chart for {{ headerInfo }} </strong></h3>
        <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p id="dataHints">The current dataset is by default, please click to update data.</p>

        <!-- displaying the chart --> 
        <div style="display: block">
            <!-- <p>{{chartDatasets[2].data}}</p> -->
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="showDatasets()">To Show Data</button>
            <br/>
            <br/>
            <canvas mdbChart
                [chartType]="chartType"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<!-- Central Modal Small -->