<!-- <p>strategy-table works!</p> -->

<form>
    <h4>- My Strategies -</h4>

    <div class="row table-wrapper-scroll-y my-custom-scrollbar">
        <div class="col-md-8">
            <table class="table table-hover table-bordered">
                <thead>
                    <th scope="col">Ticker</th>
                    <th scope="col">Size</th>
                    <th scope="col">Profit</th>
                    <th scope="col">Current Position</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <tr *ngFor="let s of strategies"
                        (click)="setClickedRow(s)"
                        [class.active]="s == selectedStrategy">
                        <td><a href="#" (click)="openTrendTable(s)" id="aLink"><u>{{s.stock.ticker}}</u></a></td>
                        <td>{{s.size}}</td>
                        <td>{{s.profit}}</td>
                        <td>{{s.currentPosition}}</td>
                        <td *ngIf="!s.stopped"><span [style.color]="'green'">OPEN</span></td>
                        <td *ngIf="s.stopped"><span [style.color]="'red'">CLOSED</span></td>
                        <!-- <td>{{s.stopped}}</td> -->
                        <td><button (click)="stopStrategy(s, s.stopped)">Stop</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" id="panelTable">
        <div class="panel panel-default">
            <div class="panel-heading">Associated Trades</div>
            <div class="panel-body">

                <app-trade-record-table #tradeTable ></app-trade-record-table>

            </div>
        </div>
    </div>
</form>

<app-trend-chart #trendChart ></app-trend-chart>