@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
	  background:#2d3b36 url(http://www.luismruiz.com/img/blured.jpg)no-repeat center center fixed;
  	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    padding-top:100px;
}

form h4{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.3em;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 700px;
    height: auto;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    /* -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5); */
    /* -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5); */
    /* box-shadow: 0 0 13px 3px rgba(0,0,0,.5); */
    overflow: hidden; 
    font-size: 1.35em;
}

table {
    width: 640px;
    height: auto;
}

tbody {
    display:block;
    height:500px;
    overflow:auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

thead {
    width: calc( 100% - 1.2em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

td {
    word-wrap: break-word;
    background-color: #fff;
}

th {
    color: #fff;
    padding-right: 10px;
}

.my-custom-scrollbar {
    position: relative;
    height: 570px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#panelTable {
    margin-top: 10px;
}