<!-- <p>trade-record-table works!</p> -->

<form>
    <h4>- Relevant Trades -</h4>

    <table class="table table-bordered">
        <thead>
            <th>Ticker</th>
            <th>Price</th>
            <th>Size</th>
            <!-- <th>Profit</th> -->
            <th>Trade Type</th>
            <!-- <th>Position</th> -->
            <th>State</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of filteredTrades">
                <td>{{t.stockTicker}}</td>
                <td>{{t.price}}</td>
                <td>{{t.size}}</td>
                <!-- <td>{{t.strategy.profit}}</td> -->
                <td>{{t.tradeType}}</td>
                <!-- <td>{{t.strategy.currentPosition}}</td> -->
                <td><span [style.color]="t.state === 'FILLED' ? 'green' : 'red'">{{t.state}}</span></td>
            </tr>
        </tbody>
    </table>
</form>