@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
	  background:#2d3b36 url(http://www.luismruiz.com/img/blured.jpg)no-repeat center center fixed;
  	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    padding-top:100px;
}

form h4{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 635px;
    height: auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    /* -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5); */
    /* -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5); */
    /* box-shadow: 0 0 13px 3px rgba(0,0,0,.5); */
    overflow: hidden; 
}

th {
    color: #fff;
    padding-right: 10px;
}

td {
    background-color: #fff;
}