<!-- <p>trade-input-form works!</p> -->

<div>
    <form>
        <h4>- Trade Form -</h4>

        <label class="label">Ticker</label> 
        <br/>
        <!-- <input name="ticker" type="text" placeholder="Ticker" [(ngModel)]="ticker">
        <p>Ticker entered: {{ ticker }}</p> -->

        <select name="ticker" [(ngModel)]="selectedStock" (change)="onChange($event)">
            <option selected>-- Please Select --</option>
            <option *ngFor="let stock of lowercaseStocks" [ngValue]="stock"> {{ stock.ticker }}</option>
            <option>++ create new stock ++</option>
        </select>
        <p>Stock selected: {{ selectedStock | json }}</p>

        <br/>

        <label class="label">Number Of Stock</label> 
        <br/>
        <input name="numOfStocks" type="text" placeholder="Stock amount" [(ngModel)]="numOfStocks">
        <p>Number Of Stock entered: {{ numOfStocks }}</p>

        <br/>

        <!-- Below 3 fields are the exit point -->

        <label class="label">Exit Profit Loss</label> 
        <br/>
        <input name="exitProfitLoss" type="text" placeholder="Exit Profit Loss" [(ngModel)]="exitProfitLoss">
        <p>Max Loss entered: {{ exitProfitLoss }}</p>

        <br/>

        <!-- <label class="label">Exit Date</label> 
        <br/>
        <input type="datetime" placeholder="ExitDate" [(ngModel)]="exitDate">
        <p>Exit Point entered: {{ exitDate }}</p>

        <br/> -->

        <!-- <label class="label">Max Profit</label> 
        <br/>
        <input name="maxProfit" type="text" placeholder="Max Profit" [(ngModel)]="maxProfit">
        <p>Max Profit entered: {{ maxProfit }}</p>

        <br/> -->

        <input name="save" (click)="saveTraderInput()" class="btn" type="submit" value="Save" />
        <!-- <button (click)="saveTraderInput()">Save</button> -->
    </form>
</div>

<button id="openModalButton" [hidden]="true" type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Launch Modal</button>

<div class="basicExample" mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">New Stock</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
            <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
            <label class="label">New Ticker:</label>
            <input type="text" id="newTickerName" [(ngModel)]="newTicker" name="newTicker" class="form-control"
                    mdbInput mdbValidate>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="saveStock()">Create</button>
      </div>
    </div>
  </div>
</div>