<h3>Welcome to your Equity Trading Platform!</h3>

<p>Algorithm used: Two Moving Average</p>

<hr>
<div class="row row-flex">
    <div class="col-lg-6" id="inputform">
        <app-trade-input-form></app-trade-input-form>
    </div>

    <div class="col-lg-6" id="recordtable">
        <app-strategy-table></app-strategy-table>
    </div>
</div>

<!-- <app-trade-record-table></app-trade-record-table> -->